click==8.0.3
Flask==2.0.2
gpio==0.3.0
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.21.4
opencv-contrib-python==4.1.0.25
picamera==1.13
RPi.GPIO==0.7.0
typing_extensions==4.0.0
Werkzeug==2.0.2
zipp==3.6.0
