body {
}

h1 {
    color: navy;
    margin-left: 20px;
}

#PageTitle {
    color: black;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.container {
    display: flex;
    position: relative;
}

.item {
    flex-basis: 50px;
    height: 100px;
    margin: 5px;
    position: relative;
    top: 100px;
}
